<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listeners.TestListener" />
	</listeners>

	<test name="Smoke Tests">

		<classes>

			<class name="tests.LoginTest" />
			<class name="tests.InvalidPasswordTest" />
			<class name="tests.EmptyUsernameTest" />
			<class name="tests.EmptyPasswordTest" />
			<class name="tests.EmptyCredentialsTest" />
			<class name="tests.LockedUserTest" />
			<class name="tests.VerifyInventoryPageTest" />
			<class name="tests.VerifyURLTest" />
			<class name="tests.VerifyLoginButtonTest" />
			<class name="tests.VerifyUsernameFieldTest" />

		</classes>

	</test>
</suite> <!-- Suite -->
